<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="mb-3">Login first to visit home page!</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="" class="row g-4" [formGroup]="loginForm">
                                    <div class="col-12">
                                        <label>Username<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input type="text" class="form-control" placeholder="Enter Username"
                                                formControlName="username">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                            <input type="text" class="form-control" placeholder="Enter Password"
                                                formControlName="password">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                            <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <a href="#" class="float-end text-primary">Forgot Password?</a>
                                    </div>

                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4 float-end mt-4"
                                            (click)="login()" [disabled]="!loginForm.valid"
                                            style="float: left;">login</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4  mt-4" (click)="signUp()">Sign
                                            Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 text-white text-center pt-5"
                                style="background-color: darkgray;">
                                <h2 class="fs-1">Welcome at</h2>
                                <img src="https://cdn.mindbowser.com/wp-content/uploads/2020/10/28081728/mindbowser-logo.svg"
                                    alt="" class="lazyloaded" data-ll-status="loaded">
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-end text-secondary mt-3"></p>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>